<div align="center">

        <h2 class="title">Iniciar sesión</h2>
        <small class="form-text sub-title">Hola, ingresa con tu nombre de usuario</small>
        <br>

        <form (ngSubmit)="form.form.valid && login()" #form="ngForm" autocomplete="nope">
            
            <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
                <div *ngFor="let error of errors">{{ error }}</div>
            </div>
            
            <div *ngIf="messages && messages.length > 0" class="alert alert-success" role="alert">
                <div *ngFor="let message of messages">{{ message }}</div>
            </div>
             <!--
            <div>
                <label>Usuario</label>
                <input type="text" name="nombreUsuario" [(ngModel)]="userName"/>
              </div>
              <br>
              <div>
                <label>Contraseña</label>
                <input type="password" name="pws" [(ngModel)]="pws"/>
              </div>
              <br>-->
               
            <div class="form-group">	
                <label for="input-email" class="sr-only">Ingrese su nombre de usuario</label>
                <input name="email" [(ngModel)]="user.email" id="input-email"  class="form-control" placeholder="Nombre usuario" #email="ngModel"
                       [class.form-control-danger]="email.invalid && email.touched" autofocus [required]="true">
                       <small  align="left" class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
                            Nombre de usuario requerido!</small>
                      <!-- <small  align="left" class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
                            Correo deberia ser uno real!  </small> -->
            </div>
            
            <div class="form-group">
                <label for="input-password" class="sr-only">Contraseña</label>
                <input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control" placeholder="Contraseña" #password="ngModel"
                       [class.form-control-danger]="password.invalid && password.touched" [required]="true" 
                       [minlength]="3" [maxlength]="10">
                       <small  align="left" class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
                           Contraseña requerida!</small>
                       <small  align="left" class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
                           Contraseña debe contener de 3 a 10 caracteres</small>
            </div>
        
           <!-- <div class="form-group accept-group col-sm-12">
             <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Recordarme</nb-checkbox>
             <a class="forgot-password" routerLink="../request-password">¿Has olvidado tu contraseña?</a>
            </div>-->
            
            <button [disabled]="!form.valid" class="btn btn-block btn-hero-success" >Iniciar sesión</button>
            
        </form>
    
        <br>
        <div class="links">
            <small class="form-text">Nuestro repositorio:</small>
            <br>
            <div class="socials">
                <a href="https://github.com/ebm7pc/WSUnidadResidencial" target="_blank" class="socicon-github"></a>
               <!-- <a href="https://www.facebook.com/akveo/" target="_blank" class="socicon-facebook"></a>
                <a href="https://twitter.com/akveo_inc" target="_blank" class="socicon-twitter"></a>-->
            </div>
            <br>
           <!-- <small class="form-text">Don't have an account? 
                <a routerLink="../register"><strong>Sign Up</strong></a>
            </small>-->
        </div>
        
    </div>