
button {
  margin: 0 0.75rem 2rem 0;
}
form {
  margin: 2rem 2rem 2rem 2rem;
  color:white !important;
  text-align: left;
  font-size: 30px;
}
.modal-header, .modal-footer {
  background-color: #00d977;
}
.pre-form {
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 10px 35px;
   background-color: #7659ff;
}
