<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <!-- <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button> -->
</div>
<!-- <div class="modal-body">
    {{ modalContent }}
</div> -->
<div class="modal-dialog">
    <form (ngSubmit)="form.form.valid && closeModal()" #form="ngForm" autocomplete="nope">

            <div *ngIf="errors && errors.length > 0" class="alert alert-danger" role="alert">
                    <div *ngFor="let error of errors">{{ error }}</div>
                </div>
                
                <div *ngIf="messages && messages.length > 0" class="alert alert-success" role="alert">
                    <div *ngFor="let message of messages">{{ message }}</div>
                </div>
                
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputFirstName">Placa</label>
                    <input type="text" name="placa" class="form-control" id="nplaca" size="10" placeholder="Placa" [(ngModel)]="placa" 
                      [required]="true">                   
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputLastName">Marca</label>
                    <input type="text" class="form-control" id="inputLastName" size="10" placeholder="Marca" [(ngModel)]="marca" name="marca"
                     [required]="true">
                    
                </div>
            </div>
        </div>
        <br>
        <div class="form-group2">
            <button [disabled]="!form.valid" class="btn btn-success">Registrar</button>
        </div>
        <!-- <div class="modal-footer">
            <button class="btn btn-md btn-primary" (click)="closeModal()">Save changes</button>
        </div> -->
    </form>
</div>