<div class="modal-header">
    <span>{{ modalHeader }}</span>
    <!-- <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button> -->
</div>
<!-- <div class="modal-body">
    {{ modalContent }}
</div> -->
<div class="modal-dialog">
    <form (ngSubmit)="form.form.valid && registrar()" #form="ngForm" autocomplete="nope">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputFirstName">Placa</label>
                    <input type="text" class="form-control" id="inputFirstName" size="10" placeholder="Placa">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputLastName">Marca</label>
                    <input type="text" class="form-control" id="inputLastName" size="10" placeholder="Marca">
                </div>
            </div>
        </div>
        <br>
        <div class="form-group2">
            <button class="btn btn-success" (click)="registrar()">Registrar</button>
        </div>
        <!-- <div class="modal-footer">
            <button class="btn btn-md btn-primary" (click)="closeModal()">Save changes</button>
        </div> -->
    </form>
</div>